<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <h1>Manga Explorer</h1>
    <form action="/search" method="post">
      <input type="text" name="title" />
      <input type="submit" />
    </form>
    <% if (locals.mangaList && locals.total){ %>
    <p>Search result: <%=total%> manga</p>
    <% mangaList.forEach((manga) => { %>
    <h2><%= manga["attributes"]["title"]["en"] %></h2>
    <p>Status: <%=manga["attributes"]["status"] %></p>
    <p>Description: <%=manga["attributes"]["description"]["en"]%></p>
    <% }) %>

    <!-- <p>Alternative Titles:</p>
    <dl>
      manga["allTitles"].forEach((title) => {
      <dt><%= %></dt>
      <dd></dd>
      })
    </dl> -->
    <% } %>
  </body>
</html>
