<%- include("./partials/header.ejs") %>

<% if (locals.mangaList && locals.total){ %>
    <p>Search result: <%=total%> manga</p>
    <% mangaList.forEach((manga) => { %>
    <h2 class="title"><a href="#"><%= manga["attributes"]["title"]["en"] %></a></h2>
    <p>Status: <%=manga["attributes"]["status"] %></p>
    <p>Description: <%=manga["attributes"]["description"]["en"]%></p>
    <% }) %> 
<% } %>
  
<%- include("./partials/footer.ejs") %>