<%- include("./partials/header.ejs") %>
<% if (locals.mangaData) { %>
<%= mangaData.attributes["title"]["en"] %>
<p> <%= mangaData.attributes["description"]["en"]%></p>

<% } else { %>
<%= errorMessage %>
<% } %>

<%- include("./partials/footer.ejs") %>