<%- include("./partials/header.ejs") %>
<% if (locals.mangaData) { %>
<h2> <%= mangaData.attributes["title"]["en"] %> </h2>
<p> Year: <%= mangaData.attributes["year"] %> </p>
<p> Latest Chapter: <%= mangaData.attributes["lastChapter"]%></p>
<p> Status: <%= mangaData.attributes["status"] %></p>
<p> <%= mangaData.attributes["description"]["en"]%></p>
<div>
<% chaptersData.forEach((chapter) => { %>
    <a href="/view/chapter/<%=chapter["id"]%>">
      <p> 
        Ch. <%= chapter["attributes"].chapter %> <%= chapter["attributes"].title %> 
      </p>
    </a>
<% }) %>
</div>
<% } else { %>
<%= errorMessage %>
<% } %>

<%- include("./partials/footer.ejs") %>