<%- include("./partials/header.ejs") %>

<% if (locals.chapter){ %>
    <h2> <%= title %> </h2>
    <div class="d-flex justify-content-between py-2">
      <h3> Ch. <%= number %> </h3>
      <div class="d-flex justify-content-between px-3">
        <div class="btn bg-primary-subtle">Prev</div>
        <div class="btn bg-primary-subtle">Next</div>
      </div>
    </div>
    <div class="chapter-container">
    <!-- <img src="/chapters/test.gif" alt="test"> -->
    <% for (const page of chapter){ %>
        <img class="chapterPage" src="<%= page %>" alt="chapter page"/>
    <% } %>
    </div>
<% } %>

<%- include("./partials/footer.ejs") %>